<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="24" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="mypackage.android.permission.MAPS_RECEIVE" />
	<application android:label="Teste001.Android">
		<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDJBxwtdkCHBwE0U67YaP6pvj4sO4xQVRM" />
	</application>
</manifest>